:root{
    --orange-color: #f27a1a;
    --border-color: #e6e6e6;
}

*{
    font-family: 'B Yekan';
}

#belit-header-logo{
    width: 146px;
    height: 59px;
}

#belit-header-text{
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fb7205, 0 0 82px #fb7205, 0 0 92px #fb7205, 0 0 102px #fb7205, 0 0 151px #fb7205;
}

main{
    max-width: 1200px;
    padding: 20px;
    /* direction: rtl; */
}

@media screen and (max-height:500px) {
    main{
        height: 100vh !important;
    }
}

.belit-headers{
    cursor: pointer;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.belit-headers:hover{
    color: var(--orange-color) !important
}

#main-ad-image{
    max-width: 100%;
    height: auto;
}

#belit-buttons{
    gap: 20px;
}

.belit-buttons{
    background-color: white;
    border-color: var(--border-color);
    border-radius: 8px;
    border-width: 1px;
    text-shadow: none;
    padding: 6px 28px !important;
}

.belit-buttons-active{
    background-color: var(--orange-color) !important;
    color: white !important;
}

.belit-buttons:hover{
    border-color: var(--orange-color);
}

/* * Belit-Order */
.belit-order-section{
    gap: 0;
}

.belit-card-part{
    gap: 10px;
}

.belit-card{
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    border-radius: 8px;
}

.belit-card-top{
    padding: 12px;
    padding-bottom: 0;
}

.belit-card-top p{
    text-align: end;
    font-size: 12px !important;
    font-weight: 500;
    margin: 0;
}

.prize_money{
    color: var(--orange-color);
}

.belit-card-image{
    /* display: block; */
    width: 154px;
    height: 78px;
}

.belit-card-added-image{
    position: absolute;
    right: 0;
    bottom: -15px;
    z-index: 1;
}

.belit-number-left{
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    border-radius: 8px;
    max-width: fit-content;
    margin-bottom: 8px;
}

.belit-card-separator{
    text-align: center;
    height: 15px;
    background-color: #f5f5f5;
    color: #dc2e2e;
    font-size: 12px;
    font-weight: 600;
}

.belit-card-bottom{
    text-align: end;
    padding: 12px;
}

.belit-card-bottom > div{
    gap: 10px;
}

.belit-card-bottom p{
    margin: 0;
    font-weight: 600;
    font-size: 14px;
}

.belit-card-tarikh{
    font-size: 12px !important;
    text-align: right;
}

.satilan{
    font-size: 12px !important;
    font-weight: 500 !important;
}

.belit-progress > span{
    display: block;
    height: 3px;
    background-color: var(--border-color);
    /* border-style: solid;
    border-width: 3px 0 0 0;
    border-color: var(--border-color); */
}

/* * belit-card-add-cart part */
.belit-card-add-cart{
    margin: 0 12px 12px 12px;
}

.belit-card-add-cart-button{
    width: 100%;
    background-color: white;
    color: var(--orange-color);
    border-color: var(--orange-color);
    border-radius: 4px;
    height: 30px;
    font-size: 12px;
    font-weight: 600;
    /* animation: fade-out ease-in-out .2s; */
}
.belit-card-add-cart-button:hover{
    cursor: pointer;
    background-color: white;
    color: var(--orange-color);
    border-color: var(--orange-color);
}
/* Animation for removing buying belit-card button */
@keyframes fade-out{
    0%{
      opacity: 1.0
    }
    100%{
      opacity: 0.0
    }
  }

.belit-card-add-cart-inc-dec{
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    gap: 0;
    height: 30px !important;
}

/* '> *' is the happen to all children css selector */
.belit-card-add-cart-inc-dec > *{
    display: flex;
    justify-content: center;
    align-items: center;
}

.belit-card-add-cart-inc-dec button{
    color: var(--orange-color);
    background-color: #fbfbfb;
    border: #999;
    font-weight: 500;
    font-size: 12px;
    width: 25px;
    height: 100%;
}

.belit-card-add-cart-inc-dec input{
    /* *** When 'flex-grow' used for a flex item, no matter how 'width' is little, the letter item grow as much as flex container empty space let it! */
    flex-grow: 1;
    width: 20px;
    height: 100%;
    border: none;
    border-left: 1px solid #e6e6e6 !important;
    border-right: 1px solid #e6e6e6 !important;
    text-align: center !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #4a4a4a !important;
}

/* Chrome, Safari, Edge, Opera (TO DISAPPEAR THE NUMBER SCROLLER FOR NUMBER INTPUT) */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.belit-card-add-cart-inc-dec input{
    /* Firefox (TO DISAPPEAR THE NUMBER SCROLLER FOR NUMBER INTPUT) */
    -moz-appearance: textfield;

    
}

/* * Order box */
.order-box{
    border: 1px solid var(--border-color);
    border-radius: 8px;
    width: 384px;
    min-width: 384px;
    padding: 16px;
    align-self: flex-start;
    text-align: end;
}

.order-box div{
    font-size: 20px;
}

.order-box-separator{
    height: 1px;
    background-color: var(--border-color);
    margin: 12px 0 12px 0;
}

/* * Order-empty */
.order-empty{
    padding: 34px 30px 34px 30px;
}

.order-empty-img{
    width: 45px;
    height: 45px;
}

.order-empty p{
    padding-top: 10px;
}

.order-empty p:nth-of-type(1){
    font-size: 18px !important;
    font-weight: 600 !important;
    color: var(--orange-color) !important;
}

.order-empty p:nth-of-type(2){
    font-size: 14px;
    color: #999;
}

/* * Order fills */
.belit-orders{
    gap: 0;
    margin-bottom: 16px;
    text-align: start;
}

.belit-orders-name{
    font-size: 16px;
    color: #333;
    margin: 0;
    display: -webkit-box;
    width: 40%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* position: relative; */
}
/* How to fix not showing dots in the text overflow for custom font */
/* ??? https://stackoverflow.com/questions/28587045/text-overflow-ellipsis-not-showing-with-some-custom-font */
.belit-orders-name::after{
    content: "...";
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    padding: 0 5px;
}

.belit-orders-price{
    font-size: 16px;
    font-weight: 500;
    color: var(--orange-color);
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 12px;
}

.belit-orders > div{
    /* height: 34px; */
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    cursor: default !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    background-color: #fff;
    cursor: pointer;
    -webkit-animation: fCbXLaQZ ease-in-out .2s;
    animation: fCbXLaQZ ease-in-out .2s;
}

.order-fill-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange-color);
    font-size: 12px;
    font-weight: 400;
    background-color: #fbfbfb;
    border: none;
    width: 25px !important;
    /* height: 100%; */
    height: 34px;
}

.order-fill-input{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 40px;
    height: 34px;
    border: none;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #4a4a4a;
}

/* * Total-Orders */
.total-orders{
    padding: 13px 0 13px 0;
    border: none;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.total-orders p{
    font-size: 14px;
    color: #333;
    margin: 0;
}

.total-orders span{
    font-weight: 600;
}

.belit-order-payment-button{
    height: 49px;
    margin-top: 24px;
    padding: 10px 65px 10px 65px;
    background-color: var(--orange-color);
    border: 0;
    color: #fff;
    border-radius: 6px;
    
    overflow: hidden;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,-webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,-webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,-webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.belit-order-payment-button:hover{
    box-shadow: rgba(0,0,0,.2) 0px 2px 4px -1px, rgba(0,0,0,.14) 0px 4px 5px 0px, rgba(0,0,0,.12) 0px 1px 10px 0px;
}

.belit-order-payment-button span{
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
}

.belit-order-payment-button i{
    font-size: 20px;
    margin-left: 8px;
    margin-right: -4px;
    font-weight: 900;
}

#belit-order-alert{
    /* height: 16px; */
    margin: 0;
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    color: #999;
}