:root{
    --orange-color: #f27a1a;
}

*{
    font-family: 'Yekan' !important;
}

#belit-header-logo{
    width: 146px;
    height: 59px;
}

#belit-header-text{
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fb7205, 0 0 82px #fb7205, 0 0 92px #fb7205, 0 0 102px #fb7205, 0 0 151px #fb7205;
}

main{
    max-width: 1160px;
}

@media screen and (max-width:1159px) {
    main{
        width: 90% !important;
    }
}



@media screen and (max-height:500px) {
    main{
        height: 100vh !important;
    }
}

.belit-headers{
    cursor: pointer;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.belit-headers:hover{
    color: var(--orange-color) !important
}

/* i, svg{
    
} */

/* i:hover, svg:hover{
    color: var(--orange-color);
} */

#main-ad-image{
    max-width: 100%;
    height: auto;
}

#belit-buttons{
    gap: 20px;
}

.belit-buttons{
    background-color: white;
    border-color: rgb(234, 234, 234);
    border-radius: 8px;
    border-width: 1px;
    text-shadow: none;
    padding: 6px 28px !important;
}

.belit-buttons-active{
    background-color: var(--orange-color) !important;
    color: white !important;
}

.belit-buttons:hover{
    border-color: var(--orange-color);
}