:root{
    --orange-color: #f27a1a;
    --border-color: #e6e6e6;
    --text-color: #333;
}

*{
    font-family: 'B Yekan';
}

body{
    background-color: #fafafa;
}

/* * Navbar section */

.navbar{
    background-color: var(--orange-color) !important;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

#logo-image{
    width: 150px;
    height: auto;
    margin: 10px;
}

.nav-icons{
    gap: 30px;
}

.nav-icons > a > div{
    gap: 5px;
}

.nav-icons a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}



/* * Main section */
main{
    width: 95%;
    direction: rtl;
    min-height: 100vh;
}

.ticket-title{
    direction: rtl;
    margin: 20px 20px 20px 0;
    font-size: 24px;
    color: #333;

}

.my-ticket-list{
    display: flex;
    /* justify-content: center; */
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width:816px) {
    main{
        text-align: center;
    }

    .my-ticket-list{
        justify-content: center;
    }
}


