main{
    width: 100%;
    background-color: rgb(210, 207, 207) !important;
    opacity: 70%;
}

.signup-box{
    width: 90%;
    background-color: whitesmoke;
    border-radius: 2%;
}

.signup--image{
    position: relative;
    text-align: center;
}

.signup--image > img{
    width: 80%;
}

.signup--image > p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 900;
}

small{
    font-size: 18px;
    color: rgb(68, 68, 68);
    font-size: 500;
}

label{
    color: black;
    font-size: 24px;
    font-weight: 700;
}

#accept-rule{
    font-weight: 500;
    color: black;
    font-size: 18px;
}

.form-check{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-check-input{
    /* display: block; */
    width: 16px !important;
    height: 16px !important;
}

[type='submit']{
    font-size: 24px;
}

@media only screen and (width <= 500px){
    #accept-rule{
        font-size: 16px;
    }
}